* {
    font-family: 'Gloria Hallelujah', cursive;
}


/* Title */

h1 {
    color: #a4499a;
    font-size: 26px;
    font-weight: bold;
    margin-bottom: 10px;
}


/* Title Number */

h1 span.highlight {
    color: #4220da;
}