.example {
    max-width: 400px;
    text-align: center;
    margin: 0 auto;
}

.example {
    background-image: url("https://picsum.photos/id/391/2980/2155");
    background-size: cover;
}

agm-map {
    height: 400px;
}